
body {
    background-color: #ebebeb;
}

#content {
    width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
}

/* Removes input outiine on focus */
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
